/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Modify font smoothing behaviour for better rendered text */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* set rem text size and styling */
html {
  font-size: 62.5%; }

body {
  font-size: 18px;
  font-size: 1.8rem; }

html,
body {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-weight: normal;
  background: #0A0D0B;
  color: #87978C;
  height: 100%; }
  html.medicalTerminal,
  body.medicalTerminal {
    background: #080a0f;
    color: #6783b7; }
  html.labTerminal,
  body.labTerminal {
    background: #0e0b08;
    color: #b2916d; }

h1 {
  font-size: 2.8rem;
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 2.6rem;
  font-weight: normal;
  margin: 0 0 20px 0;
  margin: 0; }

h3 {
  font-size: 2.4rem;
  font-weight: normal;
  margin: 0 0 20px 0;
  margin: 0; }

h4 {
  font-size: 2.2rem;
  font-weight: normal;
  margin: 0 0 20px 0;
  margin: 0; }

h5 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 20px 0;
  margin: 0; }

a {
  color: #87978C;
  font-weight: bold;
  text-decoration: none;
  transition: all 200ms ease-in-out; }
  .medicalTerminal a {
    color: #6783b7; }
  .labTerminal a {
    color: #b2916d; }
  a:hover, a:focus {
    outline: 0;
    color: #617066; }
    .medicalTerminal a:hover, .medicalTerminal a:focus {
      color: #435e8e; }
    .labTerminal a:hover, .labTerminal a:focus {
      color: #8a6b49; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw; }
  .container--start {
    display: none; }

.contentRequired {
  color: #b40000;
  font-weight: bold;
  font-style: italic; }

/* Apply normalize css reset */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
		========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
		========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/* Grouping content
		========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
		========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
		========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none; }

/* Forms
		========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
		========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/* Misc
		========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

.splashScreen {
  width: 100vw;
  height: 100vh;
  background: black url("../img/HMASbelligerent.png") center center no-repeat;
  background-size: 236px 236px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .splashScreen .button {
    margin-bottom: 80px; }
  .splashScreen--flexHorizontal {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 80px; }
    .splashScreen--flexHorizontal .button {
      margin: 10px; }

.background {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%; }
  .background__contentBox {
    padding: 20px;
    flex: 1 1 auto;
    border: solid 1px #909a92; }
    .medicalTerminal .background__contentBox {
      border: solid 1px #1d283c; }
    .labTerminal .background__contentBox {
      border: solid 1px #3a2d1f; }
    .background__contentBox:before {
      content: "Main Terminal";
      display: block;
      color: #87978C;
      text-transform: uppercase;
      font-size: 1.4rem;
      width: 100%;
      border-bottom: solid 1px #28312c;
      position: absolute;
      top: -20px;
      left: 0; }
      .medicalTerminal .background__contentBox:before {
        content: "Medical Terminal";
        color: #6783b7;
        border-bottom: solid 1px #1d283c; }
      .labTerminal .background__contentBox:before {
        content: "Lab Terminal";
        color: #b2916d;
        border-bottom: solid 1px #3a2d1f; }
    .background__contentBox:after {
      content: "";
      display: block;
      height: 1px;
      width: 100%;
      border-bottom: solid 1px #28312c;
      position: absolute;
      bottom: -5px;
      left: 0; }
      .medicalTerminal .background__contentBox:after {
        border-bottom: solid 1px #1d283c; }
      .labTerminal .background__contentBox:after {
        border-bottom: solid 1px #3a2d1f; }
  .background:before {
    content: "";
    flex: 0 0 auto;
    width: 221px;
    height: 583px;
    background: #0A0D0B url("../img/background__left.jpg") top center no-repeat; }
    .medicalTerminal .background:before {
      background: #080a0f url("../img/background__left--blue.jpg") top center no-repeat; }
    .labTerminal .background:before {
      background: #0e0b08 url("../img/background__left--orange.jpg") top center no-repeat; }
  .background:after {
    content: "";
    flex: 0 0 auto;
    width: 221px;
    height: 583px;
    background: #0A0D0B url("../img/background__right.jpg") top center no-repeat; }
    .medicalTerminal .background:after {
      background: #080a0f url("../img/background__right--blue.jpg") top center no-repeat; }
    .labTerminal .background:after {
      background: #0e0b08 url("../img/background__right--orange.jpg") top center no-repeat; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }
  .header .lockedHeading {
    display: none; }

/** 
 * CONTENTS
 *
 * BASE
 *
 * BUTTON TYPES
 *
 * MODIFIERS
 * Size
 * Mode
 */
/*------------------------------------*\
    BASE
\*------------------------------------*/
.softkeys {
  display: table;
  list-style: none;
  margin: 2em auto;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

.softkeys__btn {
  display: inline-block;
  text-align: center;
  font-size: 1em;
  line-height: 2.5em;
  min-width: 1em;
  padding: 0 1em;
  margin: 0 0.1em 0.4em 0.1em;
  border: 0.1em solid #aaa;
  border-radius: 5px;
  cursor: pointer; }

.softkeys__btn:hover, .softkeys__btn:focus {
  outline: none;
  background-color: #28312c;
  border-color: #28312c;
  color: #fff; }
  .medicalTerminal .softkeys__btn:hover, .medicalTerminal .softkeys__btn:focus {
    background-color: #1d283c;
    border-color: #1d283c; }
  .labTerminal .softkeys__btn:hover, .labTerminal .softkeys__btn:focus {
    background-color: #3a2d1f;
    border-color: #3a2d1f; }

.softkeys__btn span {
  display: none; }

.softkeys__btn span:first-child {
  display: block; }

.softkeys__new-row:before {
  display: block;
  content: ' ';
  width: 100%; }

/*------------------------------------*\
    BUTTON TYPEs
\*------------------------------------*/
.softkeys__btn--space {
  width: 30em; }

/*------------------------------------*\
    SIZE MODIFIERS
\*------------------------------------*/
.softkeys--sm {
  font-size: 0.8em;
  font-weight: bold; }

.softkeys--md {
  font-size: 1em; }

.softkeys--lg {
  font-size: 1.2em; }

.softkeys--xl {
  font-size: 1.4em; }

/*------------------------------------*\
    MODE MODIFIERS
\*------------------------------------*/
/*.softkeys--caps*/
.softkeys--caps .softkeys__btn[data-type=capslock] {
  background-color: #28312c;
  border-color: #28312c;
  color: #fff; }
  .medicalTerminal .softkeys--caps .softkeys__btn[data-type=capslock] {
    background-color: #1d283c;
    border-color: #1d283c; }
  .labTerminal .softkeys--caps .softkeys__btn[data-type=capslock] {
    background-color: #3a2d1f;
    border-color: #3a2d1f; }

.softkeys--caps .softkeys__btn[data-type=letter] {
  text-transform: uppercase; }

/*.softkeys--alt*/
.softkeys--alt .softkeys__btn[data-type=shift] {
  background-color: #28312c;
  border-color: #28312c;
  color: #fff; }
  .medicalTerminal .softkeys--alt .softkeys__btn[data-type=shift] {
    background-color: #1d283c;
    border-color: #1d283c; }
  .labTerminal .softkeys--alt .softkeys__btn[data-type=shift] {
    background-color: #3a2d1f;
    border-color: #3a2d1f; }

.softkeys--alt .softkeys__btn[data-type=symbol] span {
  display: none; }

.softkeys--alt .softkeys__btn[data-type=symbol] span:last-child {
  display: block; }

.navigation {
  padding: 20px; }
  .navigation a {
    font-size: 2.2rem;
    display: block;
    padding: 10px 0; }
  .navigation--medical, .navigation--lab {
    display: none; }

.passcodeEntry {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 40px; }
  .passcodeEntry .button {
    margin-left: 10px; }

.flexspan {
  flex: 1 1 100%; }

.invalidEntry {
  text-transform: uppercase;
  display: none;
  text-align: center;
  color: #b40000;
  font-weight: bold;
  font-size: 2rem; }

.missionControl {
  display: none; }

.textInput {
  border: solid 1px #28312c;
  font-size: 3rem;
  background: transparent;
  color: #87978C;
  padding: 20px;
  transition: all 200ms ease-in-out; }
  .textInput:focus {
    border-color: #87978C;
    outline: 0; }
  .medicalTerminal .textInput {
    border: solid 1px #1d283c;
    color: #6783b7; }
    .medicalTerminal .textInput:focus {
      border-color: #6783b7; }
  .labTerminal .textInput {
    border: solid 1px #3a2d1f;
    color: #b2916d; }
    .labTerminal .textInput:focus {
      border-color: #b2916d; }

.button {
  border: solid 1px #28312c;
  font-size: 3rem;
  appearance: none;
  cursor: pointer;
  font-weight: bold;
  background: #28312c;
  color: #87978C;
  padding: 20px;
  transition: all 200ms ease-in-out; }
  .button--small {
    font-size: 2rem;
    padding: 10px 20px; }
  .button:hover {
    background: #1d231f; }
  .button:focus {
    outline: 0;
    box-shadow: 0px 0px 0px 3px rgba(40, 49, 44, 0.5); }
  .medicalTerminal .button {
    border: solid 1px #1d283c;
    background: #1d283c;
    color: #6783b7; }
    .medicalTerminal .button:hover {
      background: #151d2b; }
    .medicalTerminal .button:focus {
      box-shadow: 0px 0px 0px 3px rgba(29, 40, 60, 0.5); }
  .labTerminal .button {
    border: solid 1px #3a2d1f;
    background: #3a2d1f;
    color: #b2916d; }
    .labTerminal .button:hover {
      background: #292016; }
    .labTerminal .button:focus {
      box-shadow: 0px 0px 0px 3px rgba(58, 45, 31, 0.5); }

.listing__item {
  display: flex;
  width: 100%;
  border: solid 1px #28312c;
  padding: 10px;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out; }
  .listing__item--link:hover {
    background: #28312c;
    color: #87978C; }
  .medicalTerminal .listing__item {
    border: solid 1px #1d283c; }
    .medicalTerminal .listing__item--link:hover {
      background: #1d283c;
      color: #6783b7; }
  .labTerminal .listing__item {
    border: solid 1px #3a2d1f; }
    .labTerminal .listing__item--link:hover {
      background: #3a2d1f;
      color: #b2916d; }

.listing__picture {
  flex: 0 0 auto;
  display: block;
  border: solid 1px #909a92;
  width: 150px;
  height: 200px;
  margin-right: 20px; }
  .listing__picture--small {
    width: 75px;
    height: 100px; }

.listing__details {
  flex: 1 1 auto; }
  .listing__details h3 {
    font-weight: bold; }
  .listing__details--flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }

.listing__small {
  display: block; }

.listing__paragraph {
  font-size: 1.6rem; }

.listing__status {
  text-transform: uppercase;
  font-weight: bold;
  color: #89cf2d; }
  .listing__status--malfunction {
    color: #b40000; }
  .listing__status--override {
    color: #e2b900; }

.starmap {
  display: block;
  border: solid 1px #909a92;
  margin-top: 10px;
  width: 100%;
  height: 100%; }
