.textInput {
    border: solid 1px $darkerGreen;
    font-size: 2.6rem;
    background: transparent;
    color: $codeGreen;
    padding: $defaultSpacing;
    transition: $defaultTransition;
    &:focus {
        border-color: $codeGreen;
        outline: 0;
    }
    .medicalTerminal & {
        border: solid 1px $darkerBlue;
        color: $codeBlue;
        &:focus {
            border-color: $codeBlue;
        }
    }
    .labTerminal & {
        border: solid 1px $darkerOrange;
        color: $codeOrange;
        &:focus {
            border-color: $codeOrange;
        }
    }
}