.listing {

    &__item {
        display: flex;
        width: 100%;
        border: solid 1px $darkerGreen;
        padding: $defaultSpacingHalf;
        margin-bottom: $defaultSpacingHalf;
        transition: $defaultTransition;
        &--link {
            &:hover {
                background: $darkerGreen;
                color: $codeGreen;
            }
        }
        .medicalTerminal & {
            border: solid 1px $darkerBlue;
            &--link {
                &:hover {
                    background: $darkerBlue;
                    color: $codeBlue;
                }
            }
        }
        .labTerminal & {
            border: solid 1px $darkerOrange;
            &--link {
                &:hover {
                    background: $darkerOrange;
                    color: $codeOrange;
                }
            }
        }
    }

    &__picture {
        flex: 0 0 auto;
        display: block;
        border: solid 1px $borderGreen;
        width: 150px;
        height: 200px;
        margin-right: $defaultSpacing;
        &--small {
            width: 75px;
            height: 100px;
        }
    }

    &__details {
        flex: 1 1 auto;
        h3 {
            font-weight: bold;
        }
        &--flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__small {
        display: block;
    }

    &__paragraph {
        font-size: 1.6rem;
    }

    &__status {
        text-transform: uppercase;
        font-weight: bold;
        color: $healthy;
        &--malfunction {
            color: $error;
        }
        &--override {
            color: $warning;
        }
    }

}

.starmap {
    display: block;
    border: solid 1px $borderGreen;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    max-width: 600px;
}

.route {
    display: flex;
    align-items: center;
    &:before {
        content: "";
        display: block;
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin-right: 5px;
    }
    &--planned {
        &:before {
            background-color: #008c66;
        }
    }
    &--current {
        &:before {
            background-color: #8f2100;
        }
    }
} 


.recordings,
.captainsLog {
    display: none;
}