.passcodeEntry {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    padding-top: $defaultSpacingDouble;

    .button {
        margin-left: $defaultSpacingHalf;
    }
}

.flexspan {
    flex: 1 1 100%;
}

.invalidEntry {
    text-transform: uppercase;
    display: none;
    text-align: center;
    color: $error;
    font-weight: bold;
    font-size: 2rem;
}

.missionControl {
    display: none;
}