$white: #fff;
$black: rgb(0, 0, 0);
$codeGreen: #87978C;
$borderGreen: #909a92;
$darkerGreen: #28312c;
$background: #0A0D0B;
$warning: #e2b900;
$error: #b40000;

$defaultSpacing: 20px;
$defaultSpacingHalf: 20px / 2;
$defaultSpacingDouble: 20px * 2;

$borderRadius: 8px;

$defaultTransition: all 200ms ease-in-out;