$white: #fff;
$black: rgb(0, 0, 0);

$borderGreen: #909a92;
$codeGreen: #87978C;
$darkerGreen: #28312c;
$backgroundGreen: #0A0D0B;

$borderBlue: #708abb;
$codeBlue: #6783b7;
$darkerBlue: #1d283c;
$backgroundBlue: #080a0f;

$borderOrange: #b69775;
$codeOrange: #b2916d;
$darkerOrange: #3a2d1f;
$backgroundOrange: #0e0b08;

$healthy: #89cf2d;
$warning: #e2b900;
$error: #b40000;

$defaultSpacing: 20px;
$defaultSpacingHalf: 20px / 2;
$defaultSpacingDouble: 20px * 2;

$borderRadius: 8px;

$defaultTransition: all 200ms ease-in-out;